body {
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1170px;
    margin: 0 auto; /*centering*/
}

.nav{
    display:flex;
    width: 1020px; height: 50px;
    top: 80px; left: 215px;
}

.logo{
    display:flex;
}

.logoimg{
    width: 50px; height: 50px;
}

.logoicon{
    position: absolute;
    margin-top: 7px; margin-left: 7.5px;
    width: 35px; height: 35px;
}
.logorect{
    border-radius: 5px;;
    width: 50px; height: 50px;
    background: #000;
    z-index: -1;
}

.logotitle{
    margin: 5px;
    font-size: 24;
    font-weight: 800;
    text-align: center;
}

.menu{
    display: flex;
    list-style-type: none;
    font-size: 16px; 
}

.menu li a{
    text-decoration: none;
    margin: 10px;
    color:#000;
}

.telephone{
    display: flex;
    width: 180px; height: 20px;
    margin-left: 55px;
}

.telimg{
    width: 20px; height: 20px;
    margin-top: 15px;
}

.tel{
    color:#000;
    width: 170px; height: 10px;
    margin: 10px; margin-top: 15px;
}

.cart{
    display: flex;
    width: 120px; height: 50px;
}
.carticon{
    position: absolute;
    width: 30px; height: 30px;
    margin-left: 8px; margin-top: 10px;;
}
.cartcircle{
    background: #000;
    width: 50px; height: 50px;
    border-radius: 50%;
    z-index: -1;
}
.amount{
    color: black;
    text-decoration: none;
    margin: 5px; margin-top: 15px;
}



/*    background: linear-gradient(15deg, #FFFF35, rgb(255, 255, 153, 20%));
*/